.button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: #94a6a6;
    
    &__light {
        border-bottom-left-radius: 1.13vw;
        &-active {
            background-color: #fff3da; 
        }
    }
    &__dark {
        &-active {
            background-color: #000000;
        }
    }
}
