*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body,
p,
hr,
ul,
li {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul,
li,
hr {
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
